Codes/NodeRedFlow.json
[{"id":"897fe910.d91448","type":"tab","label":"Fire Friend Chatbot","disabled":false,"info":""},{"id":"96f3355d.c93278","type":"switch","z":"897fe910.d91448","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"USinfectionlevel","vt":"str"},{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":440,"wires":[["abfcacc2.6e428"],["f35d1fdb.d792b"],[]]},{"id":"25914675.159a6a","type":"comment","z":"897fe910.d91448","name":"Reply to the user","info":"","x":1540,"y":460,"wires":[]},{"id":"3b292111.5aedde","type":"change","z":"897fe910.d91448","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":220,"wires":[["6250c5fa.bfb11c","d52bd7d1.4bbd58"]]},{"id":"f35d1fdb.d792b","type":"watson-text-to-speech","z":"897fe910.d91448","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"LyuiUyBhb1ZVPiZzpWpYKbcWi6olCJyM8eZR5kzMsQfB","payload-response":true,"service-endpoint":"","x":1320,"y":500,"wires":[["ec69cb9d.e0fc38"]]},{"id":"d1d27633.7a8778","type":"debug","z":"897fe910.d91448","name":"","active":true,"tosidebar":true,"console":false,"complete":"transcription","x":910,"y":180,"wires":[]},{"id":"ec69cb9d.e0fc38","type":"play audio","z":"897fe910.d91448","name":"","x":1530,"y":500,"wires":[]},{"id":"d52bd7d1.4bbd58","type":"watson-conversation-v1","z":"897fe910.d91448","name":"","workspaceid":"346395a1-e7db-4a53-9798-efb513ce7623","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/3e077d66-d50c-424a-9413-6e3849a2309b","timeout":"","optout-learning":false,"x":1300,"y":220,"wires":[["f315cb94.bc80c8","b1e9de08.fc77"]]},{"id":"f315cb94.bc80c8","type":"debug","z":"897fe910.d91448","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":220,"wires":[]},{"id":"f549053.c5e9cf8","type":"watson-speech-to-text","z":"897fe910.d91448","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"CnvUxRToawEo4ON0dFJvHtnjC6rcbfhb81xps-8YRiEE","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":680,"y":220,"wires":[["d1d27633.7a8778","3b292111.5aedde"]]},{"id":"90151ad9.186958","type":"ui_template","z":"897fe910.d91448","group":"7dffae2f.71e2e","name":"Chat History","order":0,"width":"10","height":"15","format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1530,"y":360,"wires":[[]]},{"id":"6250c5fa.bfb11c","type":"function","z":"897fe910.d91448","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the COVID Crisis Communication Bot ready to answer your questions about COVID-19. How can I help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"x":1320,"y":340,"wires":[["90151ad9.186958","5cbf875e.9782f8"]]},{"id":"5cbf875e.9782f8","type":"debug","z":"897fe910.d91448","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1530,"y":320,"wires":[]},{"id":"9ab37d49.1d8d9","type":"inject","z":"897fe910.d91448","name":"","topic":"Clear Chat","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":360,"wires":[["d8b2fa3d.a41318"]]},{"id":"d8b2fa3d.a41318","type":"change","z":"897fe910.d91448","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["6250c5fa.bfb11c"]]},{"id":"64b72a4e.0860e4","type":"ui_button","z":"897fe910.d91448","name":"","group":"73756fcd.cb7b","order":7,"width":"6","height":"1","passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":320,"wires":[["d8b2fa3d.a41318"]]},{"id":"d1099eda.4717c","type":"ui_microphone","z":"897fe910.d91448","group":"73756fcd.cb7b","order":6,"width":0,"height":0,"name":"","maxLength":3,"timeslice":0,"x":490,"y":220,"wires":[["f549053.c5e9cf8"]]},{"id":"b1e9de08.fc77","type":"function","z":"897fe910.d91448","name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":490,"y":480,"wires":[["96f3355d.c93278"],["f35d1fdb.d792b"]]},{"id":"7b180838.75d968","type":"debug","z":"897fe910.d91448","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":400,"wires":[]},{"id":"abfcacc2.6e428","type":"function","z":"897fe910.d91448","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":400,"wires":[["7b180838.75d968","6250c5fa.bfb11c","f35d1fdb.d792b"]]},{"id":"7dffae2f.71e2e","type":"ui_group","z":"","name":"Chat","tab":"8c1758f5.6499d8","order":2,"disp":true,"width":"10","collapse":false},{"id":"73756fcd.cb7b","type":"ui_group","z":"","name":"Record","tab":"8c1758f5.6499d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c1758f5.6499d8","type":"ui_tab","z":"","name":"COVID Voice Chatbot","icon":"dashboard","disabled":false,"hidden":false}]
